
/* ===========Contact section======= */
#contact-section {
    padding: 80px 0;
    background-color: #e8e5ec4d;
  }
  .contact-img img {
    width: 80%;
  }
  .contact-form {
    box-shadow: 0 6px 15px #ddd;
    border-radius: 10px;
    padding: 20px;
  }
  .contact-form input {
    background-color: #f5f5f5;
    border: none;
    padding: 12px 10px;
  }
  .message {
    height: 200px;
    background-color: #f5f5f5;
    border: none;
  }